.list {
  list-style-type: none;
  .expandable-list-item {
    position: relative;
    cursor: pointer;

    i {
      position: absolute;
      font-size: 12px;
      left: -15px;
      top: 3px;
    }
  }
}
